@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #171717;
  --secondary: #8B8B8B;

  --background: #F9F7F3;
}

body {
  font-family: var(--font-geist-mono);
  color: var(--primary);
}
