---
import Layout from "../layouts/Layout.astro"
import ProjectCard from "../components/ui/ProjectCard.astro"

type Projects = {
    title: string
    description: string
    link: string
}

const PROJECTS_PATH = "/project"

const projects: Projects[] = [
    {
        title: "Component Playground",
        description: "Collection of interactive UI elements.",
        link: PROJECTS_PATH + "/component-playground"
    },
    {
        title: "Admired Landing Page",
        description: "A minimalist landing page created for Admired Consultancy.",
        link: "https://admired.vercel.app"
    },
    {
        title: "Content Management Software",
        description: "Custom content management software created to assist a friend of mine.",
        link: PROJECTS_PATH + "/content-management-software"
    },
    {
        title: "FrameIt",
        description: "A personal tool with preset backgrounds to easily create a media for posts.",
        link: PROJECTS_PATH + "/frame-it"
    },
]
---

<Layout title="Meynard Trinidad">
    <section class="text-project-gray-500">
        <p>Studied Information Technology. Doing random things at my free time such as designing and coding random ideas, even studying and exploring new things outside of the scope of web development.</p>
    </section>
    <section class="flex flex-col gap-8">
        <h2 class="font-bold">Projects</h2>
        {
            projects.map((project) => {
                return (
                    <ProjectCard 
                        title={project.title} 
                        description={project.description}
                        link={project.link}
                    />
                )
            })
        }
    </section>
</Layout>
