---
import Layout from "./Layout.astro"
import { Icon } from "astro-icon/components"
import { BASE_URL } from "../consts"

interface Props {
    title: string
}

const { title } = Astro.props
---
<Layout title={title}>
    <section class="flex flex-col gap-8">
        <a href={BASE_URL} class="w-fit flex flex-row gap-2 items-center">
            <Icon name="prime:arrow-left" class={"w-4 h-4 text-project-gray-950"} />
            Back
        </a>

        <slot />
    </section>
</Layout>
