---
interface Props {
  theme?: "dark" | "light";
}

const { theme = "dark" } = Astro.props;
---

<button
  class:list={[
    "w-fit h-fit flex gap-[6px] px-3 py-[6px] rounded-md border shadow-project-button transition-all duration-100 text-sm",
    {
      "bg-gradient-to-b from-project-gray-900 to-project-gray-950 text-white border-project-gray-950 hover:bg-project-gray-900":
        theme === "dark",
    },
    {
      "bg-white text-project-gray-950 border-project-gray-200 hover:bg-project-gray-50":
        theme === "light",
    },
  ]}
>
  <slot />
</button>
