<footer class="flex flex-row gap-2 items-center text-project-gray-500 mb-12">
  <span>© {new Date().getFullYear()}</span>
  <span class="w-1 rounded-full aspect-square bg-project-gray-500"></span>
  <span>Meynard Trinidad</span>
</footer>
