---
import Button from "../primitives/Button.astro"
---

<nav class="flex flex-row justify-between items-center mt-12">
    <a href=".">
        <strong class="text-project-gray-950 text-xl">Meynard Trinidad</strong>
        <p class="text-project-gray-500 text-sm">Web Developer</p>
    </a>
    <div>
       <Button theme="light">Resume</Button> 
    </div>
</nav>
